@charset "Utf-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

:root {
    --font1: "Ubuntu Mono", monospace;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    overflow: hidden; /* Tirar dps */
    width: 100vw;
}

h2 {
    font-size: 2em;
    font-family: var(--font1);
}

.menustyle {
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 1px solid rgba(128, 128, 128, 0.577);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.607);
}

.settings-menu {
    padding: 50px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    background-color: black;
    border: 1px solid rgba(128, 128, 128, 0.577);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.607);
}

.option {
    position: relative;
}

.stats-container {
    display: none;
    width: 200px;
    position: absolute;
    align-items: flex-start;
    left: 100px;
    padding: 15px;
}

.stat {
    font-family: var(--font1);
    padding: 5px;
}

.stat em {
    font-family: var(--font1);
    font-size: .8em;
}

#img2, #imgsets2, #imgsets3 {
    display: none;
}





/* Volume mixer */

.strip {
    width: 100px;
    height: 4px;
    background-color: white;
    border-radius: 20px;
    position: relative;
    top: 3px;
    margin-left: 65px;
    margin-bottom: 10px;
}

.strip::before {
    content: "Volume";
    position: relative;
    left: -60px;
    top: -7px;
    font-family: var(--font1);
}

.circle {
    position: absolute;
    top: -5px;
    left: 10px;
    width: 10px;
    height: 10px;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
}


/*  Languages   */

.lang-container {
    background-color: white;
    margin: 0;
    padding: 0;
}

.stats-container div img.imglang {
    transform: rotate(0deg);
    margin-left: 10px;
    margin-top: -2px;
}

.stats-container div span {
    font-family: var(--font1);
    margin-left: 10px;
}

#portuguese {
    border: 2px solid red;
}

#english {
    border: 3px solid green;
}

.countdown {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.countdown-number {
    font-family: var(--font1);
    font-size: 6em;
    cursor: default;
}

.increase {
    animation-name: increase;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes increase {
    0% {
        font-size: 6em;
    }

    100% {
        font-size: 15rem;
    }
}

#main-container {
    display: none;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-container {
    position: relative;
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.time {
    display: none;
    color: white;
    font-family: var(--font1);
    font-size: 1.5em;
    text-align: center;
    position: absolute;
    margin-top: 50px;
    top: 0;
    left: 47vw;
}

.minutes, .seconds {
    font-family: var(--font1);
    font-size: 2em;
}

.strip1 {
    position: absolute;
    top: 0;
    left: -100px;
    background-color: green;
    height: 10px;
    width: 100px;
    border-radius: 0px 20px 20px 0px;
    animation: slide1 .2s 1;
    z-index: 2;
}

.strip2 {
    position: absolute;
    top: -100px;
    right: 0;
    background-color: blue;
    height: 100px;
    width: 10px;
    border-radius: 0px 0px 20px 20px;
    animation: slide2 .2s 1;
    animation-delay: .15s;
}
.strip3 {
    position: absolute;
    bottom: 0;
    right: -100px;
    background-color: red;
    height: 10px;
    width: 100px;
    border-radius: 20px 0px 0px 20px;
    animation: slide3 .2s 1;
    animation-delay: .3s;
}

.strip4 {
    position: absolute;
    bottom: -100px;
    left: 0;
    background-color: yellow;
    height: 100px;
    width: 10px;
    border-radius: 20px 20px 0px 0px;
    animation: slide4 .2s 1;
    animation-delay: .45s;
    z-index: 2;
}

@keyframes slide1 {
    from {
        left: -100px;
    }

    to {
        left: 100%;
    } 
}

@keyframes slide2 {
    from {
        top: -100px;
    }

    to {
        top: 100%;
    } 
}
@keyframes slide3 {
    from {
        right: -100px;
    }

    to {
        right: 100%;
    } 
}
@keyframes slide4 {
    from {
        top: 100%;
    }

    to {
        top: -100px;
    } 
}

#words {
    position: absolute;
    width: 95%;
    height: 90%;
    margin-left: 40px;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

.shake {
    animation-name: shake;
    animation-duration: .2s;
}

@keyframes shake {
    0% {
        left: 10px;
    }
    20% {
        left: -10px;
    }
    40% {
        left: 10px;
    }
    60% {
        left: -10px;
    }
    90% {
        left: 10px;
    }
    100% {
        left: 0;
    }
}

.letter {
    font-family: var(--font1);
    font-size: 3em;
    letter-spacing: 6px;
}

.TPM {
    color: white;
    font-family: var(--font1);

}

#tpm {
    color: white;
    font-family: var(--font1);
}

.next-word-container {
    margin-left: 40%;
}

.next-word {
    color: grey;
    font-family:var(--font1);
}

.next-word span {
    color: yellow;
    font-weight: bold;
}

.end-game {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    padding: 0 50px;
    background-color: black;
    border: 1px solid rgba(128, 128, 128, 0.577);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.607);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.end-game h2 {
    font-family: var(--font1);
    color: white;
    padding: 20px;
    padding-bottom: 30px;
    font-size: 2.5em;
}

.button {
    background-color: black;
    color: white;
    border: 1px solid grey;
    padding: 10px;
    margin: 20px;
    border-radius: 3px;
    cursor: pointer;
    font-family: var(--font1);
    transition: 1s;
    text-decoration: none;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.76);
    color: black;
    box-shadow: 0 0 20px white;
}

.hover-btn {
    background-color: rgba(255, 255, 255, 0.76);
    color: black;
    box-shadow: 0 0 40px white;
}